.diagnostic {
  position: relative;
  height: 16px;
  background-color: white;
  border-bottom: 1px solid #CCC;
  cursor: default;
  background: -moz-linear-gradient(#CCC, #EEE);
  background: -webkit-linear-gradient(#CCC, #EEE);
  background: linear-gradient(#CCC, #EEE);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.diagnosticItemEven {
  background: -moz-linear-gradient(#900, #E00);
  background: -webkit-linear-gradient(#900, #E00);
  background: linear-gradient(#900, #E00);
}

.diagnosticItemOdd {
  background: -moz-linear-gradient(#300, #500);
  background: -webkit-linear-gradient(#300, #500);
  background: linear-gradient(#300, #500);
}

