.sourceViewContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  background-color: white;
}

.sourceContainer {
  overflow: scroll;
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.lineCountDiv {
  min-width: 30px;
  max-width: 30px;
  overflow-x: hidden;
  display: inline-block;
  float: left;
}

.lineSourceDiv {
  display: inline-block;
}

.sourceViewTrail {
  top: 0;
  right: 0;
  height: 29px;
  left: 0;
  background: -moz-linear-gradient(#FFF 50%, #F3F3F3 55%);
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sourceViewTrailItem,
.sourceViewTrailButton {
  background: -moz-linear-gradient(#FFF 50%, #F3F3F3 55%);
  display: block;
  margin: 0;
  padding: 0;
  line-height: 29px;
  -moz-user-select: none;
  cursor: default;
  padding: 0 10px;
  font-size: 12px;
  border-right: 1px solid #CCC;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*position: relative;*/
}

.sourceViewTrailButton {
  float: left;
}

