.treeViewContainer {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  line-height: 16px;
  height: 100%;
  outline: none; /* override the browser's focus styling */
  position: relative;
}

.treeHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 16px;
  margin: 0;
  padding: 0;
}

.treeColumnHeader {
  position: absolute;
  display: block;
  background: -moz-linear-gradient(#FFF 45%, #EEE 60%);
  background: -webkit-linear-gradient(#FFF 45%, #EEE 60%);
  background: linear-gradient(#FFF 45%, #EEE 60%);
  margin: 0;
  padding: 0;
  top: 0;
  height: 15px;
  line-height: 15px;
  border: 0 solid #CCC;
  border-bottom-width: 1px;
  text-indent: 5px;
}

.treeColumnHeader:not(:last-child) {
  border-right-width: 1px;
}

.treeColumnHeader0 {
  left: 0;
  width: 86px;
}

.treeColumnHeader1 {
  left: 99px;
  width: 35px;
}

.treeColumnHeader0,
.treeColumnHeader1 {
  text-align: right;
  padding-right: 12px;
}

.treeColumnHeader2 {
  left: 147px;
  width: 20px;
}

.treeColumnHeader3 {
  left: 168px;
  right: 0;
}

.treeViewTreeOuterContainer {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.treeViewNode,
.treeViewTreeInnerContainer {
  display: block;
  margin: 0;
  padding: 0;
}

.treeViewNode {
  white-space: nowrap;
}

.treeViewTreeInnerContainer {
  min-width: intrinsic;
  min-width: max-content;
  min-width: -moz-max-content;
  min-width: -webkit-max-content;
  min-height: 100%;
}

.treeViewTreeInnerContainer {
  background: -moz-linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background: -webkit-linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background: linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background-size: 100px 32px;
}
.treeViewTreeInnerContainer>:nth-child(2n+1) {
  background-color: white;
}
.treeViewTreeInnerContainer>:nth-child(2n) {
  background-color: #f0f5ff;
}

.treeLine {
  background-color: inherit;
}
.rowLabel {
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  flex: none;
  text-align: right;
}

.sampleCount {
  padding-left: 2px;
  padding-right: 3px;
  left: 0;
  width: 50px;
}

.samplePercentage {
  left: 55px;
  padding-right:3px;
  width: 40px;
}

.selfSampleCount {
  left: 98px;
  width: 45px;
  padding-right: 1px;
  border: solid #CCC;
  border-width: 0 1px;
}

.resourceIcon {
  left: 146px;
  width: 18px;
  height: 16px;
  padding-right: 2px;
  border: solid #CCC;
  border-width: 0 1px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 3px 1px;
}

.libraryName {
  margin-left: 10px;
  color: #999;
}

.treeViewNode > .treeViewNodeList {
  margin-left: 1em;
}

.treeViewNode.collapsed > .treeViewNodeList {
  display: none;
}

.treeLine {
  display: flex;
  width: 100%;
}

.treeLine.selected {
  color: black;
  background-color: -moz-dialog;
}

.treeViewContainer:focus .treeLine.selected {
  color: highlighttext;
  background-color: highlight;
}

.treeViewContainer:focus .treeLine.selected > .libraryName {
  color: #CCC;
}

.expandCollapseButton,
.focusCallstackButton {
  background: none 0 0 no-repeat transparent;
  margin: 0;
  padding: 0;
  border: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  vertical-align: top;
  color: transparent;
}

.expandCollapseButton {
  background-image: url(../images/treetwisty.svg);
}

.focusCallstackButton {
  background-image: url(../images/circlearrow.svg);
  margin-left: 5px;
  visibility: hidden;
}

.expandCollapseButton:active:hover,
.focusCallstackButton:active:hover {
  background-position: -16px 0;
}

.treeViewNode.collapsed > .treeLine > .expandCollapseButton {
  background-position: 0 -16px;
}

.treeViewNode.collapsed > .treeLine > .expandCollapseButton:active:hover {
  background-position: -16px -16px;
}

.treeViewContainer:focus .treeLine.selected > .expandCollapseButton,
.treeViewContainer:focus .treeLine.selected > .focusCallstackButton {
  background-position: -32px 0;
}

.treeViewContainer:focus .treeViewNode.collapsed > .treeLine.selected > .expandCollapseButton {
  background-position: -32px -16px;
}

.treeViewContainer:focus .treeLine.selected > .expandCollapseButton:active:hover,
.treeViewContainer:focus .treeLine.selected > .focusCallstackButton:active:hover {
  background-position: -48px 0;
}

.treeViewContainer:focus .treeViewNode.collapsed > .treeLine.selected > .expandCollapseButton:active:hover {
  background-position: -48px -16px;
}

.treeViewNode.leaf > * > .expandCollapseButton {
  visibility: hidden;
}

.treeLine:hover > .focusCallstackButton {
  visibility: visible;
}
