body {
  margin: 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
}
#mainarea {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
.finishedProfilePane,
.finishedProfilePaneBackgroundCover,
.profileEntryPane,
.profileProgressPane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.profileEntryPane {
  overflow: auto;
}
.profileEntryPane,
.profileProgressPane {
  padding: 20px;
  background-color: rgb(229,229,229);
  background-image: url(../images/noise.png),
                    -moz-linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.2));
  background-image: url(../images/noise.png),
                    -webkit-linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.2));
  background-image: url(../images/noise.png),
                    linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.2));
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}
.profileEntryPane h1 {
  margin-top: 0;
  font-size: 13px;
  font-weight: normal;
}
.profileEntryPane input[type="file"] {
  margin-bottom: 1em;
}
.profileProgressPane a {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 16px;
}
.profileProgressPane progress {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  height: 16px;
}
.finishedProfilePaneBackgroundCover {
  -webkit-animation: darken 300ms cubic-bezier(0, 0, 1, 0);
  -moz-animation: darken 300ms cubic-bezier(0, 0, 1, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.finishedProfilePane {
  display: flex;
  flex-direction: column;
  -webkit-animation: appear 300ms ease-out;
  -moz-animation: appear 300ms ease-out;
}
@-webkit-keyframes darken {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    -webkit-transform: scale(0.3);
    opacity: 0;
    pointer-events: none;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}
@-moz-keyframes darken {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes appear {
  from {
    -moz-transform: scale(0.3);
    opacity: 0;
    pointer-events: none;
  }
  to {
    -moz-transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}
.breadcrumbTrail {
  top: 0;
  right: 0;
  height: 29px;
  left: 0;
  background: -moz-linear-gradient(#FFF 50%, #F3F3F3 55%);
  background: -webkit-linear-gradient(#FFF 50%, #F3F3F3 55%);
  background: linear-gradient(#FFF 50%, #F3F3F3 55%);
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.breadcrumbTrailItem {
  background: -moz-linear-gradient(#FFF 50%, #F3F3F3 55%);
  background: -webkit-linear-gradient(#FFF 50%, #F3F3F3 55%);
  background: linear-gradient(#FFF 50%, #F3F3F3 55%);
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 29px;
  padding: 0 10px;
  font-size: 12px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  border-right: 1px solid #CCC;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
@-webkit-keyframes slide-out {
  from {
    margin-left: -270px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@-moz-keyframes slide-out {
  from {
    margin-left: -270px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.breadcrumbTrailItem:not(:first-child) {
  -moz-animation: slide-out;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-out;
  -webkit-animation: slide-out;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-out;
}
.breadcrumbTrailItem.selected {
  background: linear-gradient(#E5E5E5 50%, #DADADA 55%);
}
.breadcrumbTrailItem:not(.selected):active:hover {
  background: linear-gradient(#F2F2F2 50%, #E6E6E6 55%);
}
.breadcrumbTrailItem.deleted {
  -moz-transition: 400ms ease-out;
  -moz-transition-property: opacity, margin-left;
  -webkit-transition: 400ms ease-out;
  -webkit-transition-property: opacity, margin-left;
  opacity: 0;
  margin-left: -270px;
}
.tree {
  display: flex;
  flex-flow: column;
  width: 100%;
}
#sampleBar {
  position: relative;
  height: auto;
  min-width: 200px;
}
#sampleBar a {
  text-decoration: none;
}
#sampleBar a:hover {
  text-decoration: underline;
}
#fileList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 480px; /* must match .sideBar height */
  width: 199px;
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #DBDFE7;
  border-right: 1px solid #BBB;
}
#infoBar {
  border-left: none;
  border-bottom: none;
}
#infoBar dl {
  margin: 0;
}
#infoBar dt,
#infoBar dd {
  display: inline;
}
#infoBar dt {
  font-weight: bold;
}
#infoBar dt::after {
  content: " ";
  white-space: pre;
}
#infoBar dd {
  margin-left: 0;
}
#infoBar dd::after {
  content: "\a";
  white-space:pre;
}
.sideBar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 510px;
  overflow: auto;
  padding: 3px;
  padding-top: 0;
  background: #EEE;
  border: 1px solid #BBB;
}
.sideBar h2 {
  font-size: 1em;
  padding: 1px 3px;
  margin: 3px -3px;
  background: rgba(255, 255, 255, 0.6);
  border: solid #CCC;
  border-width: 1px 0;
}
.sideBar h2:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.sideBar ul {
  margin: 2px 0;
  padding-left: 18px;
}
#filterName {
  padding: 0;
  height: 12px;
}
.pluginview {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
.pluginviewIFrame {
  border-style: none;
  width: 100%;
  height: 100%;
}
.frameViewContainer {
  position: relative;
  height: 60px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #CCC;
  background: -moz-linear-gradient(#EEE, #CCC);
  background: -webkit-linear-gradient(#EEE, #CCC);
  background: linear-gradient(#EEE, #CCC);
}
.waterfallFrame {
  position: absolute;
  overflow: hidden;
  border-left: solid 1px;
  border-right: solid 1px;
  top: 0px !important;
  height: 58px !important;
}
.waterfallItem {
  position: absolute;
  overflow: hidden;
  border: solid 1px;
  border-radius: 3px;
  height: 16px;
}
.waterfallOrThreadRow {
  display: flex;
  width: 100%;
}
.histogram {
  position: relative;
  height: 60px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #CCC;
  background: -moz-linear-gradient(#EEE, #CCC);
  background: -webkit-linear-gradient(#EEE, #CCC);
  background: linear-gradient(#EEE, #CCC);
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
  overflow: hidden;
}
.waterfallContainer {
  height: 95px;
  overflow: hidden;
}
.marker {
  position: absolute;
  cursor: default;
  white-space: nowrap;
  text-overflow:ellipsis;
  max-width: 50px;
  overflow: hidden;
}
.marker:hover {
  transition-property: background, box-shadow;
  transition-duration: 500ms, 500ms;
  background: #FFD;
  border-radius: 3px;
  white-space: normal;
  overflow: visible;
  max-width: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: 2px 5px;
  margin: -2px -1px;
}
.rangeSelectorContainer {
}
.histogramContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
.histogramContainerParent {
  flex: 0 0 auto; /* exact size */
  display: block;
  overflow-y: auto;
  max-height: 300px;
}
.histogramSelected {
  background: rgb(200,200,255);
}
.histogramHilite {
  position: absolute;
  pointer-events: none;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white
  z-index: 1;
}
.histogramHilite:not(.collapsed) {
  background: rgba(150, 150, 150, 0.5);
}
.histogramMouseMarker {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}
.histogramMouseMarker:not(.collapsed) {
  border-left: solid 1px rgba(0, 0, 150, 0.7);
}
#iconbox {
  display: none;
}
#filter, #showall {
  cursor: pointer;
}
.markers {
  display: none;
}
.hidden {
  display: none !important;
}
.fileListItem {
  display: block;
  margin: 0;
  padding: 0;
  height: 40px;
  text-indent: 8px;
  cursor: pointer;
}
.fileListItem.selected {
  background: -moz-linear-gradient(#4B91D7 1px, #5FA9E4 1px, #5FA9E4 2px, #58A0DE 3px, #2B70C7 39px, #2763B4 39px);
  background: -webkit-linear-gradient(#4B91D7 1px, #5FA9E4 1px, #5FA9E4 2px, #58A0DE 3px, #2B70C7 39px, #2763B4 39px);
  background: linear-gradient(#4B91D7 1px, #5FA9E4 1px, #5FA9E4 2px, #58A0DE 3px, #2B70C7 39px, #2763B4 39px);
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.fileListItemTitle {
  display: block;
  padding-top: 6px;
  margin-left: 6px;
  font-size: 12px;
  background: none;
  border: none;
}
.fileListItemTitle:focus, .fileListItemTitle:hover {
  background: white;
  border: 1px;
}
.fileListItemDescription {
  display: block;
  line-height: 15px;
  font-size: 9px;
}
.fileListItemDelete {
  background-image: url(../images/error-16.png);
  width: 16px;
  height: 16px;
  top: -24px;
  right: 5px;
  position: relative;
  float: right;
}
.fileListItemDeleteDescription {
  display: none;
}
.fileListItemDelete:hover + fileListItemDeleteDescription {
  display: block;
}
.fileListItemDelete:hover {
  outline: solid 1px;
}
.busyCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: rgba(120, 120, 120, 0.2);
  -moz-transition: 200ms ease-in-out;
  -moz-transition-property: visibility, opacity;
  -webkit-transition: 200ms ease-in-out;
  -webkit-transition-property: visibility, opacity;
}
.busyCover.busy {
  visibility: visible;
  opacity: 1;
}
.busyCover::before {
  content: url(../images/throbber.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px;
}
.busyCover#videoCover::after {
  position: absolute;
  top: calc(50% + 16px);
  left: calc(50% - 50px);
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
  content: "Decoding QR Codes";
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
}
.videoPane {
  background-color: white;
  width: 100%;
  position: relative;
}
.video {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profileComparatorDiv {
  position: absolute;
  width: 100%;
  height: 100%;
}
.profileComparatorSide1 {
  position: absolute;
  float: left;
  width: 50%;
  height: 100%;
}
.profileComparatorSide2 {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}
.threadHistogramDescriptionText {
  white-space: nowrap;
}
.threadHistogramDescription {
  overflow-x: auto;
  align-self: stretch;
  width: 150px;
  font-size: 16px;
  font-family: "Lucida Grande",sans-serif;
  border-bottom: 1px solid #CCC;
  background: none repeat scroll 0% 0% rgb(219, 223, 231);
  border-right: solid 1px white;
  padding-left: 5px;
}
.threadHistogramContent {
  overflow: hidden;
  flex: 1;
}
.adjustable {
  cursor: ns-resize;
}
.hidden {
  visibility: none;
}

/* TABS: http://css-tricks.com/better-tabs-with-round-out-borders/ */
.tabrow {
    text-align: center;
    list-style: none;
    padding: 0;
    line-height: 14px;
    height: 16px;
    overflow: hidden;
    font-size: 10px;
    font-family: verdana;
    position: relative;
}

.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
.tabrow a {
          color: #555;
          text-decoration: none;
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

.logWidget {
  white-space: pre;
}

.logLine:hover {
  background-color: #E8E8E8;
}

.layerObjectDescription:hover {
  background-color: #E8E8E8;
}

.layerHover > .layerPreview::after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: "";
  background-color: rgba(0,0,0,0.2);
  box-shadow: -2px 2px 0 #FFF;
}

@keyframes layerHoverAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.displayHover {
  background: rgba(0, 128, 0, 0.8);
}

.layerHover > .layerPreview {
  animation: layerHoverAnimation 200ms;
  animation-transform-origin: 50% 50%;
  background: gold !important;
  box-shadow: 10px 10px 5px #888888;
  border-color: blue !important;
  z-index: 10;
}

.tabPane {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.tabContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.treeContainer {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  flex: 1;
}

/* end tabs */

.chooserPanel {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 50px;
  right: 0px;
  max-width: 600px;
  margin: auto;
  background: none repeat scroll 0% 0% rgb(221, 221, 221);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
              0px 5px 10px rgba(0, 0, 0, 0.4)
              0px 0px 0px 1000px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chooserPanel:not(.appear) {
  opacity: 0;
  transform: translateY(100px);
}

.chooserPanel > h3 {
  background: rgba(255, 255, 255, 0.8);
  font: inherit;
  font-size: 1em;
  font-weight: bold;
  padding: 20px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
}

.chooserPanel > ul {
  margin: 0px;
  padding: 0px;
  display: block;
  flex: 1 1 auto;
  overflow: auto;
}

.chooserPanel > ul > li {
  display: block;
  margin: 0;
  padding: 0;
}

.chooserPanel > ul > li > a {
  display: block;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 15px;
  padding: 0px 4px;
  background-clip: padding-box;
}

.chooserPanel > ul > li > a:hover {
  background-color: rgba(0,0,0,0.1);
}
